.app-container {
    text-align: center;
    /*padding: 20px;*/
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    justify-items: center;
    align-items: center;
  }
  
  .box-style {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    
  }
  
  /* Define colors for different backgrounds */
  .box-style[style*="background-color:red"] {
    background-color: red;
  }
  
  .box-style[style*="background-color:green"] {
    background-color: green;
  }
  
  .box-style[style*="background-color:yellow"] {
    background-color: yellow;
  }
  